{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain 'messages' %}
<form class="d-none" method="post" id="reset-password-form">
    <input type="hidden" name="token" value="{{ ea_csrf_token('ea-reset-password') }}" />
</form>

<div id="modal-reset-password" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'reset_password_modal.title'|trans }}</h4>
                <p>{{ 'reset_password_modal.content'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">{{ 'action.cancel'|trans([], 'EasyAdminBundle') }}</span>
                </button>

                <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modal-reset-password-button" form="reset-password-form">
                    <span class="btn-label">{{ 'action.reset_password'|trans }}</span>
                </button>
            </div>
        </div>
    </div>
</div>